html, body {
	margin: 0;
	padding: 0;
}
.drop-active-status {
	background-color: #eef5f9;
	border: 1px solid #bfc7cb;
}
.drop-inactive-status {
	background-color: #d8e3e7;
	border: 1px solid #b1b8bc;
}
.drop-box {
	width: 150px;
	height: 150px;
	margin: 0 0 0 -75px;
	position: relative;
	left: 50%;
	top: 20px;
}
.drag-active-status {
	background-color: #b3bfc4;
	border: 1px solid #6e767b;
}
.drag-inactive-status {
	background-color: #a7b2b7;
	border: 1px solid #596064;
}
.drag-active-status span {
	background-color: #6e767b;
}
.drag-inactive-status span {
	background-color: #596064;
}
.drag-box {
	width: 100px;
	height: 100px;
	padding: 5px;
	position: absolute;
	left: 10px;
	top: 20px;
}
.drag-box span {
	width: 100%;
	height: 20px;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #e9f1f5;
	letter-spacing: .5px;
	text-align: center;
	line-height: 170%;
	*line-height: 160%;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	display: block;
	cursor: move;
}