<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <title>UrMapPainter</title>
    <meta name="keywords" content="地圖,電子地圖,台灣地圖,map台灣地圖網,網路地圖,小畫家,map,painter">
    <link type="text/css" rel="stylesheet" href="../css/lightbox/classic/lightbox.css" />
    <link type="text/css" rel="stylesheet" href="../css/initial.css" />
</head>
<body>
    <div class="lightbox-wrapper">
        <div class="lightbox-overlay"></div>
        <div class="lightbox-container">
            <div class="lightbox-classic-top-left"></div>
            <div class="lightbox-classic-top-right"></div>
            <div class="lightbox-classic-top-center">
                <div class="lightbox-hack-ie6">
                    <div class="lightbox-classic-close-button"><img src="../css/lightbox/classic/images/close_button.jpg" alt="關閉" title="關閉" /></div>
                </div>
            </div>
            <div class="lightbox-classic-body-left"></div>
            <div class="lightbox-classic-body-right"></div>
            <div class="lightbox-classic-body-center">
                <div class="lightbox-hack-ie6">
                    <div class="lightbox-content-container">
                        <div class="initial-container">
                            <div class="top-header">UrMapPainter</div>
                            <ul class="main-menu">
                                <li>
                                    <div class="icon-col new-map-icon"></div>
                                    <div class="title-col">建立新地圖</div>
                                    <div class="clear-float"></div>
                                </li>
                                <li>
                                    <div class="icon-col open-map-icon"></div>
                                    <div class="title-col">開啟地圖路徑</div>
                                    <div class="clear-float"></div>
                                </li>
                                <li>
                                    <div class="icon-col gallery-icon"></div>
                                    <div class="title-col">開啟圖庫</div>
                                    <div class="clear-float"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lightbox-classic-bottom-left"></div>
            <div class="lightbox-classic-bottom-right"></div>
            <div class="lightbox-classic-bottom-center"><div class="lightbox-hack-ie6"></div></div>
            <div class="lightbox-clear-float"></div>
        </div>
    </div>
</body>
</html>
