<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <title>UrMapPainter</title>
    <meta name="keywords" content="地圖,電子地圖,台灣地圖,map台灣地圖網,網路地圖,小畫家,map,painter">
    <link type="text/css" rel="stylesheet" href="../css/lightbox/black/lightbox.css" />
    <link type="text/css" rel="stylesheet" href="../css/new.map.css" />
</head>
<body>
    <div class="lightbox-wrapper">
        <div class="lightbox-overlay"></div>
        <div class="lightbox-container">
            <div class="lightbox-black-top-left"></div>
            <div class="lightbox-black-top-right"></div>
            <div class="lightbox-black-top-center">
                <div class="lightbox-hack-ie6">
                    <div class="lightbox-heading"><h2 class="new-map-heading">開新地圖</h2></div>
                    <div class="lightbox-black-close-button"><img src="../css/lightbox/black/images/close_button.jpg" alt="關閉" title="關閉" /></div>
                </div>
            </div>
            <div class="lightbox-black-body-left"></div>
            <div class="lightbox-black-body-right"></div>
            <div class="lightbox-black-body-center">
                <div class="lightbox-hack-ie6">
                    <div class="lightbox-content-container">
                        <div class="new-map-form">
                            <div class="label-row">
                                <div class="label-col">名稱</div>
                                <div class="msg-col error-msg">請輸入檔案名稱</div>
                                <div class="clear-float"></div>
                            </div>
                            <div class="input-row">
                                <input class="filename-input input-text input-text-default" type="text" value="未命名-1" />
                            </div>
                            <div class="label-row">
                                <div class="label-col">尺寸</div>
                                <div class="msg-col">(最大1280x1280)</div>
                                <div class="clear-float"></div>
                            </div>
                            <div class="input-row">
                                <div class="size-input-section">
                                    <div class="label-col">寬度</div>
                                    <input class="width-input input-text input-text-default" type="text" value="800" />
                                    <div class="unit-col">px</div>
                                    <div class="clear-float"></div>
                                </div>
                                <div class="size-input-section">
                                    <div class="label-col">高度</div>
                                    <input class="height-input input-text input-text-default" type="text" value="600" />
                                    <div class="unit-col">px</div>
                                    <div class="clear-float"></div>
                                </div>
                                <div class="clear-float"></div>
                            </div>
                            <div class="button-row">
                                <div class="button-outer-container">
                                    <div class="button-inner-container">確定</div>
                                </div>
                                <div class="button-outer-container">
                                    <div class="button-inner-container">取消</div>
                                </div>
                                <div class="clear-float"></div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="lightbox-black-bottom-left"></div>
            <div class="lightbox-black-bottom-right"></div>
            <div class="lightbox-black-bottom-center"><div class="lightbox-hack-ie6"></div></div>
            <div class="lightbox-clear-float"></div>
        </div>
    </div>
</body>
</html>
